<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="me.gorbuvla.events2020">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="me.gorbuvla.events2020.EventsApp"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/Theme.Default">
        <activity
            android:name="me.gorbuvla.navigation.activityflows.home.HomeFlowActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.Default">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>